*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

html {
  background-color: cadetblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 30px;
  font-size: 50px;
}

.scores {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: 15px;
  font-size: 25px;
}

.selections {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 150px;
  max-width: 500px;
  font-size: 80px;
}

.rock,
.paper,
.scissors {
  transform: scale(1);
  transition: 0.2s;
  cursor: pointer;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  transition: 0.2s;
  transform: scale(1.4);
  cursor: pointer;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.results > div {
  padding: 10px 40px 40px 40px;
  justify-content: flex-start;
}

.winner {
  font-weight: bolder;
  font-size: 35px;
}

.tie-results {
  display: flex;
  font-size: 40px;
  width: 300px;
  height: 45px;
  align-items: center;
  justify-content: center;
}

.reset-button {
  position: absolute;
  top: 250px;
  width: 70px;
  height: 50px;
}

.game-on {
  display: none;
}
